@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 400;
  --primary-color: #facc15;
  background-color: var(--primary-color);
}

body {
  margin: 0;
}

